
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title text-center>
      Administrator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <h1 *ngIf="!editing">Create your group</h1>
  <h1 *ngIf="editing">Updating Amount</h1>
    <h2 *ngIf="nameTaken" class="danger">This Group Name is already taken</h2>

    <form [formGroup]="adminForm" (ngSubmit)="setGroup()">
      <ion-list>
        <ion-item>
          <ion-label floating>Amount of Receipt/Bill</ion-label>
          <ion-input *ngIf="editing" type="number"  formControlName='totalBillAmount' name="totalBillAmount" (keyup)="tBill.next($event.target.value)"></ion-input>
          <ion-input *ngIf="!editing" type="number"  formControlName='totalBillAmount' name="totalBillAmount" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Group Name</ion-label>
          <ion-input type="text" name="groupname" formControlName='groupname' (keyup)="gName.next($event.target.value)"></ion-input>
        </ion-item>
            <p *ngIf="!editing" text-left padding-left>
              Enter a four(4) digit code, to give to members of the group (Numbers only)
            </p>
        <ion-item>
          <ion-label floating>Group Code</ion-label>

          <ion-input type="number" name="groupcode" formControlName='groupcode'></ion-input>
        </ion-item>
        <button *ngIf="!editing" ion-button type="submit" block margin-top [round]="true">Start Group</button>
        <button *ngIf="editing" ion-button type="submit" block margin-top [round]="true">Back to Group</button>
      </ion-list>
      <p class="danger">
        {{errorTxt}}
      </p>
    </form>




</ion-content>
