<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Group: {{ groupname }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <h3>Enter Amount(s)</h3>
  <h4>Bill Amount: {{ currBillAmount }}</h4>
  <form *ngIf="loaded" [formGroup]="groupForm">

   <ion-list formArrayName="items">
       <ion-item  *ngFor="let item of groupForm.get('items').controls; let i = index">
         <ion-label floating>Amount</ion-label>
         <ion-input type="number" [formControlName]='i' (keyup)="calculateItems()"></ion-input>
      </ion-item>
   </ion-list>
 <button ion-button block type="button" (click)="addItemFields()">Add More Items</button>

 </form>


</ion-content>
